input{
  margin: 1%;
}
button{
  background-color: #B22222;
  color:white;
  margin-top: 2%;
}

a{
  color:black;
}
h1{
  text-align: center;
}
#clean{
  text-align: center;
}
.displayImg{
  overflow:hidden;
  height:10em;
  width:auto;
}
.card-body{
  overflow: hidden;
}
#logo{
  height:60px;
  width:auto;
}
#price{
  text-align: center;
}
.card-deck{
  margin-bottom: 2%;
}
@media screen and (max-width:767px) {
  [.class="card"]{
    width: 100%;
    display: block;
    }
}
